<section class="gitui79__current-branch-name">
	<table class="px2-table">
		<tr>
			<th>{{ lb.get("ui_label.branch") }}</th>
			<td>{{ currentBranchName|e }}</td>
		</tr>
	</table>
</section>

<section>
	{% if remote.remotes.length %}
		<ul>
		{% for remote_row in remote.remotes %}
		<li><label><input type="radio" name="remote_name" value="{{ remote_row.name|e }}"{% if remote_row.name == "origin" %} checked{% endif %} /> {{ remote_row.name|e }}</label>
			<div>{{ remote_row.push|e }}</div>
		</li>
		{% endfor %}
		</ul>
	{% elseif remote.stdout  %}
		<pre><code>{{ remote.stdout|e }}</code></pre>
	{% endif %}
	<div class="px2-p">
		<button class="px2-btn px2-btn--primary">プッシュする</button>
		<label><input type="checkbox" name="force" value="1" /> 強制的にプッシュする</label>
	</div>
	<pre class="gitui79__result-stdout"><code></code></pre>
</section>
