<section>
	<h2>ブランチリスト</h2>
	<ul class="gitui79__branch-list">
		{% for row in branch.localBranches %}
		<li>
			{% if row == currentBranchName %}
			<strong class="gitui79__branch-list-current-branch">{{ row|e }}</strong>
			<ul class="gitui79__menu-list">
				<li><button class="px2-btn" disabled>マージ</button></li>
				<li><button class="px2-btn" disabled>削除</button></li>
			</ul>
			{% else %}
			<a href="javascript:;" data-branch-name="{{ row|e }}">{{ row|e }}</a>
			<ul class="gitui79__menu-list">
				<li><button class="px2-btn px2-btn--default" data-branch-name="{{ row|e }}" data-method="merge">マージ</button></li>
				<li><button class="px2-btn px2-btn--danger" data-branch-name="{{ row|e }}" data-method="delete">削除</button></li>
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2>リモートブランチ</h2>
	<ul class="gitui79__branch-list">
		{% for row in branch.remoteBranches %}
		<li>
			{% if checkoutedRemoteBranches[row] %}
			{{ row|e }}
			{% else %}
			<a href="javascript:;" data-branch-name="remotes/{{ row|e }}">{{ row|e }}</a>
			{% endif %}
			<ul class="gitui79__menu-list">
				<li><button class="px2-btn px2-btn--default" data-branch-name="remotes/{{ row|e }}" data-method="merge">マージ</button></li>
				<li><button class="px2-btn px2-btn--danger" data-branch-name="remotes/{{ row|e }}" data-method="delete">削除</button></li>
			</ul>
		</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2>ブランチを作成する</h2>
	<form action="javascript:;" method="get">
		<div class="px2-input-group px2-input-group--fluid">
			<input type="text" name="branch-name" value="" class="px2-input" style="flex-grow: 1;" />
			<button type="submit" class="px2-btn px2-btn--primary">作成する</button>
		</div>
	</form>
</section>
