<div class="gitui79__toolbar">
	<ul>
		<li><a class="gitui79__btn gitui79__btn--status" href="javascript:;">{{ lb.get("page_title.status") }}</a></li>
		<li><a class="gitui79__btn gitui79__btn--branch" href="javascript:;">{{ lb.get("page_title.branch") }}</a></li>
		<li><a class="gitui79__btn gitui79__btn--log" href="javascript:;">{{ lb.get("page_title.log") }}</a></li>
		<li><a class="gitui79__btn gitui79__btn--pull" href="javascript:;">{{ lb.get("page_title.pull") }}</a></li>
		<li><a class="gitui79__btn gitui79__btn--push" href="javascript:;">{{ lb.get("page_title.push") }}</a></li>
	</ul>
</div>
<div class="gitui79__body"></div>
<div class="gitui79__statusbar"></div>
