{% for commit in log.logs %}
<li><h3><a href="javascript:;" data-commit="{{ commit.commit|e }}">{{ commit.messageTitle|e }}</a></h3>
	<p>by {{ commit.author|e }} &lt;{{ commit.email|e }}&gt; at {{ commit.date|e }}</p>
</li>
{% endfor %}
