<div class="px2-p">
	{{ body }}
</div>
<div class="px2-p">
	<table class="px2-table px2-table--dl">
		<tbody>
			<tr>
				<th>commit:</th>
				<td>{{ commit.commit|e }}</td>
			</tr>
			<tr>
				<th>committer:</th>
				<td>{{ commit.author|e }} &lt;{{ commit.email|e }}&gt;</td>
			</tr>
			<tr>
				<th>date:</th>
				<td>{{ commit.date|date("Y-m-d(D) H:i:s") }}</td>
			</tr>
		</tbody>
	</table>
</div>


<h2>変更履歴</h2>
<ul class="gitui79__list-changes">
	{% for file in commit.files %}
	<li class="gitui79__list-changes-{{ file.type }}"><a href="javascript:;" data-file="{{ file.filename|e }}" data-status="{{ file.type|e }}">{{ file.filename|e }}</a></li>
	{% endfor %}
</ul>
