<div class="px2-p">
    <table class="px2-table px2-table--dl">
        <tr>
            <th>File</th>
            <td>{{ file|e }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ status|e }}</td>
        </tr>
        <tr>
            <th>Is staged</th>
            <td>{{ isStaged|e }}</td>
        </tr>
    </table>
</div>

{% if status == "unmerged" %}
<div class="px2-p">
    <p>このファイルはコンフリクトしています。</p>
    <button class="px2-btn gitui79__resolve-ours" type="button">自分の変更を採用</button>
    <button class="px2-btn gitui79__resolve-theirs" type="button">相手の変更を採用</button>
</div>
{% endif %}

{% if code or diffHtmlLineByLine %}
<h2>差分</h2>
{% if diffHtmlLineByLine %}
<div class="gitui79__sm">{{ diffHtmlLineByLine | raw }}</div>
<div class="gitui79__lg">{{ diffHtmlSideBySide | raw }}</div>
{% endif %}
{% if code %}
<!-- <pre><code>{{ code|e }}</code></pre> -->
{% endif %}
{% endif %}
