<section class="gitui79__current-branch-name">
	<table class="px2-table" style="width: 100%;">
		<tr>
			<th style="width: 30%;">Branch</th>
			<td style="width: 70%;">{{ currentBranchName|e }}</td>
		</tr>
	</table>
</section>

<section class="gitui79__cont-uncommited-changes">
	<h2>コミットされていない変更</h2>
{% if status.notStaged.untracked.length
 or status.notStaged.modified.length
 or status.notStaged.deleted.length
 or status.staged.untracked.length
 or status.staged.modified.length
 or status.staged.deleted.length
 or status.unmerged.bothAdded.length
 or status.unmerged.bothModified.length
%}
	<div class="gitui79__cont-list-changes-wrap">
	<ul class="gitui79__cont-list-changes">
{% for file in status.notStaged.untracked %}
		<li class="gitui79__cont-list-changes-untracked"><a href="javascript:;" data-file="{{ file|e }}" data-status="untracked" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.notStaged.modified %}
		<li class="gitui79__cont-list-changes-modified"><a href="javascript:;" data-file="{{ file|e }}" data-status="modified" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.notStaged.deleted %}
		<li class="gitui79__cont-list-changes-deleted"><a href="javascript:;" data-file="{{ file|e }}" data-status="deleted" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.staged.untracked %}
		<li class="gitui79__cont-list-changes-staged gitui79__cont-list-changes-untracked"><a href="javascript:;" data-file="{{ file|e }}" data-status="untracked" data-is-staged="staged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.staged.modified %}
		<li class="gitui79__cont-list-changes-staged gitui79__cont-list-changes-modified"><a href="javascript:;" data-file="{{ file|e }}" data-status="modified" data-is-staged="staged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.staged.deleted %}
		<li class="gitui79__cont-list-changes-staged gitui79__cont-list-changes-deleted"><a href="javascript:;" data-file="{{ file|e }}" data-status="deleted" data-is-staged="staged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.unmerged.bothAdded %}
		<li class="gitui79__cont-list-changes-staged gitui79__cont-list-changes-unmerged"><a href="javascript:;" data-file="{{ file|e }}" data-status="unmerged" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
{% for file in status.unmerged.bothModified %}
		<li class="gitui79__cont-list-changes-staged gitui79__cont-list-changes-unmerged"><a href="javascript:;" data-file="{{ file|e }}" data-status="unmerged" data-is-staged="noStaged">{{ file|e }}</a></li>
{% endfor %}
	</ul>
	</div>
	<div class="gitui79__btn-block-open-commit-form">
		<div class="px2-form-submit-area">
			<ul class="px2-form-submit-area__btns">
				<li><button type="button" class="px2-btn px2-btn--primary gitui79__cont-btn-commit"{% if status.isUnmerged %} disabled="disabled"{% endif %}>コミットする</button></li>
			</ul>
			<ul class="px2-form-submit-area__backward-btns">
				<li><button type="button" class="px2-btn gitui79__cont-btn-discard">変更を破棄する</button></li>
			</ul>
		</div>
	</div>
	<div class="gitui79__cont-commit-form" style="display: none;">
		<form action="javascript:;" method="post">
			<h3>コミットコメント</h3>
			<p><textarea name="commitcomment" class="px2-input px2-input--block"></textarea></p>
			<h3>コミッター</h3>
			{% if committer.name and committer.email %}
			<p>{{ committer.name }} &lt;{{ committer.email }}&gt;</p>
			<input type="hidden" name="committer.name" value="{{ committer.name }}" />
			<input type="hidden" name="committer.email" value="{{ committer.email }}" />
			{% else %}
			<p>
				<input type="text" name="committer.name" value="{{ committer.name }}" style="width: 35%;" placeholder="Name" />
				&lt;<input type="text" name="committer.email" value="{{ committer.email }}" style="width: 35%;" placeholder="E-mail" />&gt;
			</p>
			{% endif %}
			<div class="px2-text-align-center"><button type="submit" class="px2-btn px2-btn--primary gitui79__btn-do-commit">コミットする</button></div>
		</form>
	</div>

{% else %}
	<div class="gitui79__cont-uncommited-changes-nothing-to-commit">
		<p>コミットされていない変更はありません。</p>
	</div>
{% endif %}
</section>
